<h1>All posts</h1>

<%= will_paginate @post %>

<ul class="posts">
  <% @post.each do |post| %>
    <h4><%=post.title %></h4>
    <p><%= post.body %></p>
    <% if signed_in?%>
    	-<%= link_to post.user.name, post.user.name %>
	<% end %>	
  <% end %>
</ul>
<%= will_paginate @post %>

<p>
	<%= link_to "New Post", new_post_path %>
</p>
